@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700|Lato:400,700");
/*test*/
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  /*overflow-x: hidden;*/
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: .2px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  /*min-width: 360px;*/
  background: #fff !important;
  margin: 0; }

p {
  line-height: 1.75; }

a {
  color: #00aef2;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms; }
  a.active, a:active, a:focus, a:hover {
    color: #222223;
    text-decoration: none !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; }

h1 {
  font-size: 2.125rem; }

button:focus {
  outline: none; }

::-moz-selection {
  background: #7d0faa;
  text-shadow: none;
  color: #fff; }

::selection {
  background: #00aef2;
  text-shadow: none;
  color: #fff; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

/*body {
  -webkit-tap-highlight-color: $theme-primary;
}*/
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #4c4c4c;
  -webkit-box-shadow: 0 0 0px 1000px #e6e6e6 inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: #fff; }

nav {
  background: #2e3192;
  padding: 10px 15px;
  position: fixed;
  width: 100%; }
  nav .container {
    margin: 0 auto;
    display: flex;
    align-items: center; }
    nav .container .logo {
      color: #fff;
      font-size: 1.5rem;
      text-decoration: none; }
    nav .container .navbar-nav {
      display: flex;
      margin: 0;
      padding: 0;
      margin-left: auto; }
      nav .container .navbar-nav li {
        list-style: none; }
        nav .container .navbar-nav li a {
          font-family: 'Poppins', sans-serif;
          font-weight: 700;
          text-decoration: none;
          color: #fff;
          font-size: .875rem;
          text-transform: uppercase;
          padding: 5px 10px;
          font-weight: 500; }
          nav .container .navbar-nav li a:hover {
            color: #fee600; }

.content {
  padding-top: 49px; }
  .content .table {
    width: 100%;
    border-collapse: collapse; }
    .content .table tbody tr td, .content .table tbody tr th, .content .table thead tr td, .content .table thead tr th {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      letter-spacing: .2px;
      padding: .50em .75em; }
    .content .table thead tr th {
      background: #dbdbdb;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .875rem;
      text-align: left;
      padding: .875em .75em; }
      .content .table thead tr th.th-img {
        text-align: center; }
    .content .table tbody tr td {
      text-align: left;
      /*vertical-align: top;*/
      border-bottom: 1px solid #dbdbdb; }
      .content .table tbody tr td .bt-show {
        text-decoration: none;
        background: #000;
        color: #fff;
        font-weight: 600;
        padding: 10px;
        margin-top: 15px; }
      .content .table tbody tr td.td-img {
        text-align: center; }
  @media only screen and (max-width: 767px) {
    .content {
      overflow-x: auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .content {
      overflow-x: auto; } }

/*# sourceMappingURL=style.css.map */
