{% extends 'base.html.twig' %}
{% block title %}Chip Lists
{% endblock %}
{% block body %}
    <div align="center">
        <h1>IMPORT FILES</h1>
        <div class="list">jbl-ulse-3-im-test_104454.json<a href="list/1">Import</a><br/></div>
        <div class="list">teufel-real-blue-im-test_104508.json<a href="list/2">Import</a>
        </div>
    </div>
{% endblock %}
