{% extends 'base.html.twig' %}

{% block title %}Chip Lists blog.chapterstext{% endblock %}
{% block body %}
{% if blog %}
<table id="blog" class="table table-striped">
      <thead>
        <tr>
         
          <th>chapters headline</th>
          <th>text</th>
          <th>image</th>
         
         
         
        </tr>
</thead>
<tbody>
{% for blogval in blog %}
          <tr>
            
             <td>{{ blogval.chaptersheadline }}</td>
              <td>{{ blogval.chapterstext}}</td>
               
                 <td><img src="{{ blogval.chapterimageurl}}" height="200" width="250" alt="{{blogval.chapterimagetext}}" /></td>
                   
                    

            <td>
            
              </td>
          </tr>
{% endfor %}

</tbody>
</table>
{% else %}
<p>No blogs Found</p>
{% endif%}
{% endblock %}