nav {
    background: $color2;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    
    .container {
        margin: 0 auto;
        display: flex;
        align-items: center;
        
        .logo {
            color: $white;
            font-size: 1.5rem;
            text-decoration: none;
        }
        
        .navbar-nav {
            display: flex;
            margin: 0;
            padding: 0;
            margin-left: auto;
            
            li {
                list-style: none;
                
                a {
                    @include heading-font;
                    text-decoration: none;
                    color: $white;
                    font-size: .875rem;
                    text-transform: uppercase;
                    padding: 5px 10px;
                    font-weight: 500;
                    
                    &:hover {
                        color: $color3;
                    }
                }
            }
        }
    }
}

.content {
    padding-top: 49px;
    
    .table {
        width: 100%;
        border-collapse: collapse;
        
        tbody, thead {
            tr {
                td, th {
                    @include body-font;
                    padding: .50em .75em;
                }
            }
        }
        
        thead {
            tr {
                th {
                    background: $cc-ash;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: .875rem;
                    text-align: left;
                    padding: .875em .75em;
                    
                    &.th-img {
                        text-align: center;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    text-align: left;
                    /*vertical-align: top;*/
                    border-bottom: 1px solid $cc-ash;
                    
                    .bt-show {
                        text-decoration: none;
                        background: $black;
                        color: $white;
                        font-weight: 600;
                        padding: 10px;
                        margin-top: 15px;
                    }
                    
                    &.td-img {
                        text-align: center;
                    }
                }
            }
        }
    }
    
    @include respond-to(custom-767) {
        overflow-x: auto;
    }
    @include respond-to(custom-768-991) {
        overflow-x: auto;
    }
}