// Variables

// Google Web Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700|Lato:400,700');

$black: #000;
$white: #fff;


// ## custom-colors
$cc-body: #fff;
$cc-formbg: #e6e6e6;
$cc-inputbg: lighten(#00aef2, 60%);
$cc-formborder : #b6cdd8;
$cc-lightgray: #f8f8f8;
$cc-darkgray: #4c4c4c;
$cc-ash: #dbdbdb;

//Custom Colors
$color1: #7d0faa;
$color2: #2e3192;
$color3: #fee600;
$color4: #222;

//URLs
$linkblue: #00aef2;
$linkblack: #222223;
$hover-blue: #1873f2;





